<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DesenJogo{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">DesenJogo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Menus Esquerda -->
            <ul class="navbar-nav mr-auto">
    
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="menuJogos" role="button" data-toggle="dropdown">Jogos</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/jogos/">Lista de Jogos</a>
                        <a class="dropdown-item" href="/etapas/">Etapas de Desenvolvimento</a>
                        <a class="dropdown-item" href="/tarefas/">Tarefas</a>
                        <a class="dropdown-item" href="/assets/">Assets Digitais</a>
                        <a class="dropdown-item" href="/cenarios/">Cenários</a>
                        <a class="dropdown-item" href="/ocorrencias/">Ocorrências</a>
                        <a class="dropdown-item" href="/analises/">Formulários de Análise</a>
                    </div>
                </li>
    
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="menuEquipe" role="button" data-toggle="dropdown">Equipe</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/membros/">Membros</a>
                        <a class="dropdown-item" href="/funcoes/">Funções</a>
                        <a class="dropdown-item" href="/alocacoes/">Alocações</a>
                        <a class="dropdown-item" href="/turnos/">Turnos de Trabalho</a>
                    </div>
                </li>
    
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="menuInfra" role="button" data-toggle="dropdown">Infraestrutura</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/estudios/">Estúdios de Desenvolvimento</a>
                        <a class="dropdown-item" href="/plataformas/">Plataformas de Jogo</a>
                        <a class="dropdown-item" href="/cidades/">Cidades</a>
                        <a class="dropdown-item" href="/configuracoes/">Configurações</a>
                    </div>
                </li>
            </ul>
    
            <!-- Barra de Busca -->
            <form class="form-inline my-2 my-lg-0 mr-3" method="get" action="/jogos/">
                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Buscar jogo..." aria-label="Buscar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
    
            <!-- Usuário -->
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="menuUsuario" role="button" data-toggle="dropdown">
                        <i class="fas fa-user"></i> Conta
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/usuarios/">Usuários do Sistema</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/admin/">Administração</a>
                        <a class="dropdown-item" href="#">Sair</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    

<div class="container mt-5 pt-4">
    {% block content %}{% endblock %}
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header">Total de Jogos</div>
                <div class="card-body">
                    <h5 class="card-title">{{ total_jogos }}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header">Membros Ativos</div>
                <div class="card-body">
                    <h5 class="card-title">{{ total_membros }}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header">Tarefas Pendentes</div>
                <div class="card-body">
                    <h5 class="card-title">{{ total_tarefas }}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <a href="/jogos/" class="btn btn-primary mx-2">Ver Jogos</a>
        <a href="/membros/" class="btn btn-success mx-2">Equipe</a>
        <a href="/tarefas/" class="btn btn-warning mx-2">Gerenciar Tarefas</a>
    </div>
        
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>
